[Unit]
Description=heart-rate
Documentation=https://github.com/maddyonline/websocket-server2
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/home/ubuntu/.nvm/versions/node/v14.19.0/bin/node index.js
WorkingDirectory=/home/ubuntu/websocket-server2
Restart=on-failure

[Install]
WantedBy=multi-user.target
